

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">指令跟踪</h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-12" style="padding: 0;padding-right: 320px;">

            <div  class="col-sm-12 content-border-card">详情</div>
            <div class="col-sm-12 content-border">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">组合名称：</div>
                    <div class="col-sm-7 content-detail">
                        <select class="form-control input-sm" disabled>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">组合代码：</div>
                    <div class="col-sm-7 content-detail">
                        <select class="form-control input-sm" disabled>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">事由：</div>
                    <div class="col-sm-7 content-detail">
                        <select class="form-control input-sm" disabled>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">金额：</div>
                    <div class="col-sm-7 content-detail">
                        <input class="form-control  input-sm" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">备注：</div>
                    <div class="col-sm-7 content-detail">
                        <input class="form-control  input-sm" readonly>
                    </div>
                </div>
            </div>
            <div  class="col-sm-12 content-border-card">转出</div>
            <div class="col-sm-12 content-border">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 content-name">划出账户抬头：</div>
                        <div class="col-sm-7 content-detail">
                            <input class="form-control  input-sm" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 content-name">划出账户银行帐号：</div>
                        <div class="col-sm-7 content-detail">
                            <input class="form-control  input-sm" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 content-name">划出账户开户银行：</div>
                        <div class="col-sm-7 content-detail">
                            <input class="form-control  input-sm" readonly>
                        </div>
                    </div>
            </div>
            <div  class="col-sm-12 content-border-card">转入</div>
            <div class="col-sm-12 content-border">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">划入账户抬头：</div>
                    <div class="col-sm-7 content-detail">
                        <input class="form-control  input-sm" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">划入账户银行帐号：</div>
                    <div class="col-sm-7 content-detail">
                        <input class="form-control  input-sm" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">划入账户开户银行：</div>
                    <div class="col-sm-7 content-detail">
                        <input class="form-control  input-sm" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding: 0;width: 350px;position: absolute;right: 0;">
            <div class="content">
                <div class="wrapper">
                    <div class="main">
                        <h1 class="title">&nbsp;</h1>

                        <div class="year">
                            <h2><a href="#">进度<i></i></a></h2>

                            <div class="list">
                                <ul>
                                    <li class="cls">
                                        <p class="date">2017/5/5</p>

                                        <p class="intro">XX提交指令</p>

                                        <p class="version">&nbsp;</p>

                                        <div class="more">
                                            <p></p>
                                        </div>
                                    </li>
                                    <li class="cls">
                                        <p class="date">2017/5/6</p>

                                        <p class="intro">指令预审通过</p>

                                        <p class="version">&nbsp;</p>

                                        <div class="more">
                                            <p></p>
                                        </div>
                                    </li>
                                    <li class="cls">
                                        <p class="date">2017/5/7</p>

                                        <p class="intro">由XX经办完成</p>

                                        <p class="version">&nbsp;</p>

                                        <div class="more">
                                            <p></p>
                                        </div>
                                    </li>
                                    <li class="cls">
                                        <p class="date">2017/5/8</p>

                                        <p class="intro">由XX复核完成</p>

                                        <p class="version">&nbsp;</p>

                                        <div class="more">
                                            <p></p>
                                        </div>
                                    </li>
                                    <li class="cls">
                                        <p class="date">2017/5/9</p>

                                        <p class="intro">完成划款</p>

                                        <p class="version">&nbsp;</p>

                                        <div class="more">
                                            <p></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(".main .year .list").each(function (e, target) {

        var $target = $(target),
                $ul = $target.find("ul");
        $target.height($ul.outerHeight()), $ul.css("position", "absolute");
    });
    $(".main .year>h2>a").click(function (e) {

        e.preventDefault();
        $(this).parents(".year").toggleClass("shrink");
    });
</script>