

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">指令跟踪</h3>
    </div>
    <div class="panel-body">

        <div class="col-sm-8" style="padding: 0;">

            <div  class="col-sm-12 content-border-card">详情</div>
            <div class="col-sm-12 content-border">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">组合名称：</div>
                    <div class="col-sm-7 content-detail">
                        <select class="form-control input-sm" disabled>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">组合代码：</div>
                    <div class="col-sm-7 content-detail">
                        <select class="form-control input-sm" disabled>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">事由：</div>
                    <div class="col-sm-7 content-detail">
                        <select class="form-control input-sm" disabled>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">金额：</div>
                    <div class="col-sm-7 content-detail">
                        <select class="form-control input-sm" disabled>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">备注：</div>
                    <div class="col-sm-7 content-detail">
                        <select class="form-control input-sm" disabled>
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <div  class="col-sm-12 content-border-card">转出</div>
            <div class="col-sm-12 content-border">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 content-name">划出账户抬头：</div>
                        <div class="col-sm-7 content-detail">
                            <select class="form-control input-sm">
                                <option>321546548</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 content-name">划出账户银行帐号：</div>
                        <div class="col-sm-7 content-detail">
                            <input class="form-control  input-sm" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 content-name">划出账户开户银行：</div>
                        <div class="col-sm-7 content-detail">
                            <input class="form-control  input-sm" readonly>
                        </div>
                    </div>
            </div>
            <div  class="col-sm-12 content-border-card">转入</div>
            <div class="col-sm-12 content-border">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">划入账户抬头：</div>
                    <div class="col-sm-7 content-detail">
                        <select class="form-control input-sm">
                            <option>321546548</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">划入账户银行帐号：</div>
                    <div class="col-sm-7 content-detail">
                        <input class="form-control  input-sm" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4 content-name">划入账户开户银行：</div>
                    <div class="col-sm-7 content-detail">
                        <input class="form-control  input-sm" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="padding: 0;">
            <div class="history">
                <div class="history-date">
                    <ul>
                        <h2 class="first"><a>进度</a></h2>
                        <li class="green">
                            <h3>10.08<span>2012</span></h3>
                            <dl>
                                <dt>提交指令
                                    <!--<span>升级极速内核到21.0；全新默认界面；新增小窗口播放功能</span>-->
                                </dt>
                            </dl>
                        </li>

                        <li>
                            <h3>07.19<span>2012</span></h3>
                            <dl>
                                <dt>指令预审通过
                                    <!--<span>HTML5支持度全球最好，达到469分，测试页面： </span>-->
                                </dt>
                            </dl>
                        </li>

                        <li>
                            <h3>07.02<span>2012</span></h3>
                            <dl>
                                <dt>经办完成
                                    <!--<span>支持网络摄像头，浏览器可直接访问摄像头</span>-->
                                </dt>
                            </dl>
                        </li>

                        <li class="green">
                            <h3>06.27<span>2012</span></h3>
                            <dl>
                                <dt>复核完成
                                    <!--<span>大力推广HTML5</span>-->
                                </dt>
                            </dl>
                        </li>
                        <li>
                            <h3>&nbsp;<span>&nbsp;</span></h3>
                            <dl>
                                <dt>完成划款</dt>
                            </dl>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>