


.content-border{
    border: 2px solid #ddd;
    padding: 5px;
    margin:0 3px 3px 0 ;
}

#accordion22 a{
    color: #4E1707;
}

.content-border-card{
    height: 18px;
    width: 160px;
    background-color: #f47d1f;
    border-radius: 20px 20px 0 0;
    text-align: center;
    margin-top: 3px;
}