


.content-border{
    border: 2px solid #ddd;
    padding: 5px;
    margin:0 3px 3px 0 ;
}

#accordion22 a{
    color: #4E1707;
}

/*±Í«©“≥*/
.content-border-card{
    height: 20px;
    width: 160px;
    background-color: #f47d1f;
    border-radius: 20px 20px 0 0;
    text-align: center;
    margin-top: 3px;
    color: white;
}

/*±Í«©“≥100%øÌ*/
.content-border-card-100w {
    height: 20px;
    width: 100%;
    background-color: #f47d1f;
    border-radius: 20px 20px 0 0;
    text-align: center;
    margin-top: 3px;
    color: white;
}

.btn-group button {
    padding: 4px;
}

.query-btn {
    text-align: center;
}

.grid {
    padding: 5px;
}

.grid .grid-msg button {
    float: right;
    padding: 3px;
    margin: 0 1px;
}

.btn-default {
    border-color: orange;
    color: orange;
}

/*select2*/
.select-sm .select2-container--bootstrap .select2-selection--single {
    height: 30px;
    padding: 5px 24px 5px 10px;
}