


.content-border{
    border: 2px solid #ddd;
    padding: 5px;
    margin:0 3px 3px 0 ;
}

#accordion22 a{
    color: #4E1707;
}

/*��ǩҳ*/
.content-border-card{
    height: 20px;
    width: 160px;
    background-color: #f47d1f;
    border-radius: 20px 20px 0 0;
    text-align: center;
    margin-top: 3px;
    color: white;
}

/*��ǩҳ100%��*/
.content-border-card-100w {
    height: 20px;
    width: 100%;
    background-color: #f47d1f;
    border-radius: 20px 20px 0 0;
    text-align: center;
    margin-top: 3px;
    color: white;
}

.btn-group button {
    padding: 4px;
}

.query-btn {
    text-align: center;
}

.grid {
    padding: 5px;
}

.grid .grid-msg button {
    float: right;
    padding: 3px;
    margin: 2px 1px;
}

.btn-default:active {
    border-color: orange;
    color: orange;
}

.btn-default.active {
    border-color: orange;
    color: orange;
}

/*select2*/
.select-sm .select2-container--bootstrap .select2-selection--single {
    height: 30px;
    padding: 5px 24px 5px 10px;
}

/*ztree*/
.ztree {
    margin-top: 0;
    min-width: 217px;
    height: auto;
    max-height: 170px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 900;
}