<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    hr {
        border-style: solid;
        border-color: #ddd;
    }
</style>
<body>
<div class="row">
    <div class="col-sm-12">
        <hr/>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-3 content-name">正常输入框：</div>
        <div class="col-sm-7 content-detail">
            <input class="form-control input-sm" ng-model="inputValue"/>
        </div>
    </div>
    <div class="col-sm-6">
        返回值 ng-model：{{inputValue}}<br>
    </div>
    <div class="col-sm-12">
        <hr/>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-3 content-name">上传：</div>
        <div class="col-sm-5 content-detail">
            <input ng-model="file" class="form-control">
        </div>
        <div class="col-sm-2">
            <button ng-click="openUploadDialog()">上传</button>
        </div>
    </div>
    <div class="col-sm-12">
        <hr/>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-3 content-name">下拉树：</div>
        <div class="col-sm-7 content-detail">
            <div gf-tree-input opt="treeOpt" value="treeId" obj="treeObj" on-change="treeOnChange"></div>
        </div>
    </div>
    <div class="col-sm-6">
        配置参数 opt：{{treeOpt}}<br>
        选中项Id value:{{treeId}} <br>
        选中项目 obj:{{treeObj}}<br>
    </div>
    <div class="col-sm-12">
        <hr/>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-3 content-name">字典下拉列表：</div>
        <div class="col-sm-7 content-detail">
            <div gf-select-dict dict="dictName" opt="selectOpt" value="selectId" obj="selectObj"
                 on-change="selectOnChane"></div>
        </div>
        <div class="col-sm-3 content-name">模糊下拉列表：</div>
        <div class="col-sm-7 content-detail">
            <div gf-select-search opt="selectOpt" value="selectId" obj="selectObj" on-change="selectOnChane"></div>
        </div>
    </div>
    <div class="col-sm-6">
        配置参数 opt: {{selectOpt}}<br>
        选中项Id value:{{selectId}} <br>
        选中项目 obj.text:{{selectObj}}
        gf-select-search 模糊搜索
        gf-select-dict 字典下拉 dict 字典名
    </div>
    <div class="col-sm-12">
        <hr/>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-3 content-name">单选按钮：</div>
        <div class="col-sm-7 content-detail">
            <div gf-btn-group data="checkRadioList1" value="checkRadioId" multiple="checkRadioId2"
                 obj="checkRadioObj"></div>
            <div gf-btn-group data="checkRadioList2" value="checkRadioId2"></div>
        </div>
    </div>
    <div class="col-sm-6">
        选项参数 data: {{checkRadioList1}}<br>
        选中项Id value:{{checkRadioId}} <br>
        多选 multiple:{{checkRadioId2}} <br>
        返回对象 checkRadioObj:{{checkRadioObj}} <br>
    </div>
    <div class="col-sm-12">
        <hr/>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-3 content-name">开始日期：</div>
        <div class="col-sm-7 content-detail">
            <div gf-date-picker value="datePickerStart"></div>
        </div>
        <div class="col-sm-3 content-name">结束日期：</div>
        <div class="col-sm-7 content-detail">
            <div gf-date-picker value="datePickerEnd"></div>
        </div>
        <div class="col-sm-3 content-name">日期：</div>
        <div class="col-sm-7 content-detail">
            <div gf-date-picker opt="dateOpt" value="datePicker"
                 on-change="dateOnChange" start-date="datePickerStart" end-date="datePickerEnd"></div>
        </div>
    </div>
    <div class="col-sm-6">
        配置参数 opt: {{dateOpt}}<br>
        选中项Id value:{{datePicker}} <br>
    </div>
    <div class="col-sm-12">
        <hr/>
    </div>


</div>
</body>
</html>