<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="row">
    <div class="col-sm-7">
        <div class="col-sm-3 content-name">下拉树：</div>
        <div class="col-sm-7 content-detail">
            <div gf-tree-input opt="treeOpt" value="treeId" obj="treeObj"></div>
        </div>
    </div>
    <div class="col-sm-5">

    </div>
    <div class="col-sm-7">
        <div class="col-sm-3 content-name">下拉列表：</div>
        <div class="col-sm-7 content-detail select-sm">
            <select class="form-control input-sm" gf-select opt="selectOpt"></select>
        </div>
    </div>
    <div class="col-sm-5">
        <p>注意 select-sm 的位置</p>
    </div>
    <div class="col-sm-7">
        <div class="col-sm-3 content-name">单选按钮：</div>
        <div class="col-sm-7 content-detail">
            <div gf-btn-group data="directionList" ng-model="direction" role="group"></div>
        </div>
    </div>
    <div class="col-sm-5">

    </div>
    <div class="col-sm-7">
        <div class="col-sm-3 content-name">单选按钮：</div>
        <div class="col-sm-7 content-detail">
            <div gf-date-picker opt="dateOpt" value="datePicker"></div>
        </div>
    </div>
    <div class="col-sm-5">

    </div>


</div>
</body>
</html>