<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">管理人内部团队授权管理</h3>
    </div>
    <div class="panel-body">
        <div style="width: 270px;float: left;">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">新增团队</button>
                <button type="button" class="btn btn-default">修改团队</button>
                <button type="button" class="btn btn-default">删除团队</button>
                <button type="button" class="btn btn-default">审批授权</button>
            </div>
            <div>
                <div gf-tree-input opt="treeOpt" value="treeId" obj="treeObj"></div>

                <input type="text" class="form-control" ng-model="treeObj.id"/>

            </div>
            <div>

            </div>
        </div>
        <div style="margin-left: 270px">
            <div class="btn-group right" role="group">
                <button type="button" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-default">重置</button>
            </div>
            <div class="col-sm-12">
                <div style="text-align: center">
                    <h3>项目审批流程角色-人员关系配置</h3>

                </div>
                <div class="row">
                    <div class="col-sm-3 content-name">项目名称：</div>
                    <div class="col-sm-7 content-detail">
                        <div gf-tree-input></div>
                        <!--<select class="form-control input-sm">-->
                        <!--<option>项目1</option>-->
                        <!--<option>项目2</option>-->
                        <!--</select>-->
                    </div>
                </div>
                <div class="col-sm-4" style="padding: 2px;">
                    <div class="col-sm-12 content-border-card-100w">清算经办岗</div>
                    <div class="col-sm-12 content-border" style="height: 200px;">
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>


                    </div>
                </div>
                <div class="col-sm-4" style="padding: 2px;">
                    <div class="col-sm-12 content-border-card-100w">清算核算岗</div>
                    <div class="col-sm-12 content-border" style="height: 200px;">
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding: 2px;">
                    <div class="col-sm-12 content-border-card-100w">清算授权岗</div>
                    <div class="col-sm-12 content-border" style="height: 200px;">
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                        <div class="col-sm-12 col-lg-6"><label><input type="checkbox"/>人员A</label></div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>